In [1]:
import pandas as pd

In [2]:
listings_df = pd.read_csv("static/data/map_details.csv")
map_df=listings_df[['name','host_name','city','review_scores_rating','price','room_type','zipcode']]
map_df.head()

,name,host_name,city,review_scores_rating,price,room_type,zipcode
0,Charming Victorian home - twin beds + breakfast,Evelyne,Asheville,96.0,$50.00,Private room,28804.0
1,French Chic Loft,Celeste,Asheville,96.0,$765.00,Entire home/apt,28801.0
2,Walk to stores/parks/downtown. Fenced yard/Pet...,Lisa,Asheville,90.0,$75.00,Entire home/apt,28801.0
3,Cottage! BonPaul + Sharky's Hostel,BonPaul,Asheville,90.0,$107.00,Entire home/apt,28806.0
4,"Private Room ""Ader"" at BPS Hostel",BonPaul,Asheville,90.0,$71.00,Private room,28806.0

In [3]:
map_table = map_df.to_csv('static/data/ss_map_data.csv')

In [4]:
neighbourhood_df = pd.read_csv("static/data/neighbourhoods.csv")
zipcode_df = neighbourhood_df[['neighbourhood']]
zipcode_df

   neighbourhood
0       -select-
1          28704
2          28715
3          28732
4          28801
5          28803
6          28804
7          28805
8          28806
9          28815
10         28748
11         28814
12         28730
13         28701

In [5]:
zipcode_table = zipcode_df.to_csv('static/data/zipcode.csv')

In [6]:
from sqlalchemy import create_engine

engine = create_engine('')
connection = engine.connect()

In [7]:
engine.table_names()

['zipcode', 'Map_details']

In [8]:
#listing_detail_grouped.to_sql(name='listing_rating_count', con=engine, if_exists='append', index=False)
map_df.to_sql(name='Map_details', con=engine, if_exists='append',index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "name" of relation "Map_details" does not exist
LINE 1: INSERT INTO "Map_details" (name, host_name, city, review_sco...
                                   ^

[SQL: INSERT INTO "Map_details" (name, host_name, city, review_scores_rating, price, room_type, zipcode) VALUES (%(name)s, %(host_name)s, %(city)s, %(review_scores_rating)s, %(price)s, %(room_type)s, %(zipcode)s)]
[parameters: ({'name': 'Charming Victorian home - twin beds + breakfast', 'host_name': 'Evelyne', 'city': 'Asheville', 'review_scores_rating': 96.0, 'price': '$50.00 ', 'room_type': 'Private room', 'zipcode': 28804.0}, {'name': 'French Chic Loft', 'host_name': 'Celeste', 'city': 'Asheville', 'review_scores_rating': 96.0, 'price': '$765.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28801.0}, {'name': 'Walk to stores/parks/downtown. Fenced yard/Pets OK', 'host_name': 'Lisa', 'city': 'Asheville', 'review_scores_rating': 90.0, 'price': '$75.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28801.0}, {'name': "Cottage! BonPaul + Sharky's Hostel", 'host_name': 'BonPaul', 'city': 'Asheville', 'review_scores_rating': 90.0, 'price': '$107.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28806.0}, {'name': 'Private Room "Ader" at BPS Hostel', 'host_name': 'BonPaul', 'city': 'Asheville', 'review_scores_rating': 90.0, 'price': '$71.00 ', 'room_type': 'Private room', 'zipcode': 28806.0}, {'name': 'Mixed Dorm "Top Bunk #1" at BPS Hostel', 'host_name': 'BonPaul', 'city': 'Asheville', 'review_scores_rating': 94.0, 'price': '$26.00 ', 'room_type': 'Shared room', 'zipcode': 28806.0}, {'name': 'Historic Grove Park', 'host_name': 'Elizabeth', 'city': 'Asheville', 'review_scores_rating': 99.0, 'price': '$125.00 ', 'room_type': 'Private room', 'zipcode': 28801.0}, {'name': 'Terrace Cottage', 'host_name': 'Kevin', 'city': 'Asheville', 'review_scores_rating': 97.0, 'price': '$134.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28804.0}  ... displaying 10 of 2387 total bound parameter sets ...  {'name': 'Close to Downtown, Secluded, Hot Tub, WiFi, Pet Ok', 'host_name': 'Becky', 'city': 'Asheville', 'review_scores_rating': None, 'price': '$225.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28803.0}, {'name': 'Asheville campsite on the farm!', 'host_name': 'Asheville Abode', 'city': 'Asheville', 'review_scores_rating': None, 'price': '$19.00 ', 'room_type': 'Entire home/apt', 'zipcode': 28806.0})]
(Background on this error at: http://sqlalche.me/e/f405)