In [39]:
import pandas as pd

In [40]:
listing_detail_path = "static/data/listings_details.csv"

listing_detail_df = pd.read_csv(listing_detail_path)
listing_detail_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,38585,https://www.airbnb.com/rooms/38585,20200529020107,2020-06-04,Charming Victorian home - twin beds + breakfast,Per the City Council of Asheville. Due to the ...,"Charming room with 2 twin size beds, furnished...",Per the City Council of Asheville. Due to the ...,none,Our North Asheville neighborhood stretches alo...,...,f,f,moderate,t,t,1,0,1,0,1.18
1,80905,https://www.airbnb.com/rooms/80905,20200529020107,2020-06-04,French Chic Loft,Let yourself melt into the delectable décor of...,Have you ever gazed at dreamy photos in a maga...,Let yourself melt into the delectable décor of...,none,"Quiet, tucked away from the hustle and bustle ...",...,t,f,super_strict_60,f,f,11,11,0,0,1.01
2,108061,https://www.airbnb.com/rooms/108061,20200529020107,2020-06-04,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,True Asheville...artist styled apartment with ...,Walk to town in ten minutes! Monthly rental in...,none,"I love my neighborhood! Its friendly, easy-goi...",...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,0.84
3,155305,https://www.airbnb.com/rooms/155305,20200529020107,2020-05-29,Cottage! BonPaul + Sharky's Hostel,NaN,Private cottage located behind the main house ...,Private cottage located behind the main house ...,none,"We are within easy walk of pubs, breweries, mu...",...,t,f,moderate,f,f,7,1,2,4,2.23
4,156805,https://www.airbnb.com/rooms/156805,20200529020107,2020-05-29,"Private Room ""Ader"" at BPS Hostel",NaN,Private Rooms at Bon Paul and Sharky's Hostel....,Private Rooms at Bon Paul and Sharky's Hostel....,none,"Easy walk to pubs, cafes, bakery, breweries, l...",...,t,f,moderate,f,f,7,1,2,4,0.63

In [83]:
listing_detail_df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
name                                             object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 106, dtype: object

In [41]:
listing_detail = listing_detail_df[['zipcode','review_scores_rating']]

In [42]:
listing_detail ['review_score_normalized'] = listing_detail['review_scores_rating']/20

C:\Users\conne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
listing_detail.head()

   zipcode  review_scores_rating  review_score_normalized
0  28804.0                  96.0                      4.8
1  28801.0                  96.0                      4.8
2  28801.0                  90.0                      4.5
3  28806.0                  90.0                      4.5
4  28806.0                  90.0                      4.5

In [44]:
bins = [0,1,2,3,4,5]

group_names = ["0-1 star","1-2 star","2-3 star","3-4 star","4-5 star"]

In [45]:
listing_detail['review_score_group'] = pd.cut(listing_detail['review_score_normalized'],bins,labels=group_names,include_lowest=False)

C:\Users\conne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
listing_detail.head()

   zipcode  review_scores_rating  review_score_normalized review_score_group
0  28804.0                  96.0                      4.8           4-5 star
1  28801.0                  96.0                      4.8           4-5 star
2  28801.0                  90.0                      4.5           4-5 star
3  28806.0                  90.0                      4.5           4-5 star
4  28806.0                  90.0                      4.5           4-5 star

In [47]:
listing_detail_grouped = listing_detail.groupby(['zipcode','review_score_group']).count()

In [48]:
listing_detail_grouped.reset_index(inplace=True)

In [49]:
listing_detail_grouped.head()

   zipcode review_score_group  review_scores_rating  review_score_normalized
0  28701.0           0-1 star                   NaN                      NaN
1  28701.0           1-2 star                   NaN                      NaN
2  28701.0           2-3 star                   NaN                      NaN
3  28701.0           3-4 star                   NaN                      NaN
4  28701.0           4-5 star                   NaN                      NaN

In [50]:
listing_detail_grouped = listing_detail_grouped.astype({"zipcode": int})

In [61]:
# listing_detail_grouped.fillna(0)
import numpy as np

listing_detail_grouped.replace(to_replace = np.nan, value =0,inplace=True)

In [62]:
listing_detail_grouped.columns

Index(['zipcode', 'review_score_group', 'review_scores_rating',
       'review_score_normalized'],
      dtype='object')

In [63]:
listing_detail_grouped=listing_detail_grouped.astype({'review_scores_rating': int})

In [73]:
listing_detail_grouped=listing_detail_grouped.astype({'review_score_normalized': int})

In [98]:
listing_detail_grouped=listing_detail_grouped.astype({'review_score_group': str })

In [99]:
listing_detail_grouped.head()

   zipcode review_score_group  review_scores_rating  review_score_normalized
0    28701           0-1 star                     0                        0
1    28701           1-2 star                     0                        0
2    28701           2-3 star                     0                        0
3    28701           3-4 star                     0                        0
4    28701           4-5 star                     0                        0

In [100]:
listing_detail_grouped.dtypes

zipcode                     int32
review_score_group         object
review_scores_rating        int32
review_score_normalized     int32
dtype: object

In [101]:
listing_rating_count = listing_detail_grouped.to_csv('static/data/listing_rating_count.csv',index=False)

In [107]:
from sqlalchemy import create_engine

engine = create_engine('postgres://qkcykqvileicfp:a79536cb9ecb09297af8643725608de599a44611390491e4acb0079a29d3785a@ec2-52-204-232-46.compute-1.amazonaws.com:5432/d7j2qefm4vovd5')
connection = engine.connect()

In [108]:
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine
# Base = automap_base()

engine.table_names()

['listing_rating_count']

In [110]:
listing_detail_grouped.to_sql(name='listing_rating_count', con=engine, if_exists='append', index=False)

In [16]:
# calendar_path = "templates/data/calendar.csv"

# calendar_df = pd.read_csv(calendar_path)
# calendar_df.head()

In [17]:
# listings_details_path = "templates/data/listings_details.csv"

# listings_details_df = pd.read_csv(listings_details_path)

# listings_details_df.rename(columns={'id':'listing_id'},inplace=True)

# listings_details_df.head(2)

In [18]:
# listings_details - 

# listing_id,space,description,host_id,host_name,host_is_superhost, zipcode,latitude,longitude,bathrooms,bedrooms,amenities,price,
# security_deposit,cleaning_fee,extra_people,minimum_nights,maximum_nights,review_scores_rating

# listings_d_need = listings_details_df.loc[:,['listing_id','space','description','host_id','host_name','host_is_superhost','zipcode','latitude','longitude','accommodates','bathrooms','bedrooms','amenities','price',
# 'security_deposit','cleaning_fee','extra_people','minimum_nights','maximum_nights','review_scores_rating']]

# listings_d_need.head()

In [19]:
# calendar_need =   calendar_df.loc[:,['listing_id','date','available']]

# calendar_need.head()

In [20]:
# calendar_listing = pd.concat([listings_d_need,calendar_need],axis=1,join='outer')

In [21]:
# calendar_listing.head()

In [22]:
# calendar_listing.to_csv('templates/data/calendar_listing.csv',index=False)

In [23]:
# listings_path = "templates/data/listings.csv"

# listings_df = pd.read_csv(listings_path)

# listings_df.head(5)

In [25]:
# listing_detail.head()

In [26]:
# list_d_path = "templates/data/listings_details.csv"

# listings_details_df = pd.read_csv(list_d_path)
# listings_details = listings_details_df[['zipcode','review_scores_rating']]

In [27]:
# listing_d = listings_details_df['review_scores_rating']
# listing_d.head()

In [28]:
# listings_merged = pd.concat([listings_df,listing_d],axis=1,join='outer')

In [29]:
# listings_merged.head()

In [30]:
# listings_merged ['review_score_normalized'] = listings_merged['review_scores_rating']/20

In [31]:
# listings_merged.head()

In [32]:
# bins = [0,1,2,3,4,5]

# group_names = ["0-1","1-2","2-3","3-4","4-5"]

In [33]:
# listings_merged['review_score_group'] = pd.cut(listings_merged['review_score_normalized'],bins,labels=group_names,include_lowest=False)

In [34]:
# listings_merged.head()

In [35]:
# listing_grouped = listings_merged.groupby(['neighbourhood','review_score_group']).count()

In [36]:
# listing_grouped

In [37]:
# listing_grouped.to_csv('templates/data/listing_rating_count.csv',index=True)

In [38]:
# listing_grouped = listings_merged.groupby(listings_merged['neighbourhood','review_score_group']).agg({
#                                                          'neighbourhood' : ['count'],
#                                                           'review_score_group': ['count']
#                                                         })